body {
    margin:0;
    padding:0;
}

.test {
    margin:50px;
   }

   
   .test {
    margin:50px;
   }

   
   .test {
    margin:50px;
   }

   
   .test {
    margin:50px;
   }
  
   .test {
    margin:50px;
   }

   .test {
    margin:50px;
   }
  